@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    font-family: 'Poppins', sans-serif;
}

/* Display Styling, Body, Header and Section */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem 1.5rem;
}

section {
    width: 100%;
    padding: 2rem;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* General Styling */
.clickable {
    cursor: pointer;
}

/* Add Button */
button.add {
    min-height: 170px;
    width: 150px;
    color: #333333c5;
    font-size: 2.5rem;
    border-radius: 15px;
    background-color: #00000052;
    border: 5px dashed #333333c5;
    margin-bottom: 5px;
}

button.add:focus-visible {
    outline: none;
}

button.add:hover {
    background-color: #0000001c;
}
/* Header */
header .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.links {
    list-style: none;
}

header .links {
    display: flex;
    align-items: center;
}

header .links li {
    font-size: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
}

header .links li:hover {
    background-color: #00000050;
}
/* Modal Form */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: #f0f0f0;
    min-width: 300px;
    max-width: 400px;
    border-radius: 20px;
    z-index: 100;
    /* display: none; */
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);

}

.modal-body {
    padding: 1rem;
}

#overlay {
    z-index: 99;
    opacity: 0;
    transition: 200ms ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0000006e;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    appearance: none;
    outline: none;
}

input[type="text"], input[type="number"]{
    width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.read-label {
    font-size: 1rem;
    font-weight: bold;
}

.control-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
}

input[type="checkbox"] {
    outline: 2px solid rgb(32, 32, 32);
    position: relative;
    width: 1rem;
    height: 1rem;
    z-index: 100;
}

input[type="checkbox"].book-read {
    position: relative;
    border-radius: 3px;
    height: 1rem;
    width: 1rem;
}

input[type="checkbox"].book-read:hover {
    height: 1.5rem;
    width: 1.5rem;
}

input[type="checkbox"].book-read::before {
    content: '✔';
    font-size: 1rem;
    position: absolute;
    right: 0.1rem;
    top: -0.1rem;
    visibility: hidden;
}

input[type="checkbox"].book-read:hover::before {
    font-size: 1.5rem;
    top: -0.3rem;
    right: 0.15rem;
}

input[type="checkbox"].book-read:checked::before {
    visibility: visible;
}

.module-button {
    font-family: inherit;
    width: 100px;
    height: 70px;
    font-size: 1.3rem;
    padding: 10px;
    background-color:rgb(32, 32, 32, 0.5);
    border-radius: 5px;
}

.module-button:hover {
    font-size: 2rem;
}

.module-button[add] {
    background-color: rgb(71, 211, 71);
}

.module-button[clear] {
    background-color: rgb(255, 83, 83);
}

/* Section Book Cards*/
.book-card {
    position: relative;
    top: 0;
    transition: all 0.5s, top 100ms;
    transform-style: preserve-3d;
}

.book-card:hover {
    top: -10px;
}

.book-card .clickable-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
}

.book-card > * {
    position: absolute;
    width: 100%;
    height: 280px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.767);
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

    padding-left: 2rem;
    padding-right: 2rem;
    z-index: 1;
    
    backface-visibility: hidden;
}

.book-card .back {
    transform: rotateY(180deg);
}

.book-card.active {
    transform: rotateY(180deg);
}

.book-card-separation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.book-card-separation .title {
    font-weight: bold;
    font-style: italic;
    font-size: clamp(1rem, 1.5rem, 2rem);
}

.book-card .read {
    font-family: inherit;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.book-card .read:hover {
    background-color: rgb(124, 124, 124);
}

.book-card .read:active {
    background-color: white;
}

.book-card .delete {
    background-color: transparent;
    font-size: 7rem;
    color: #dd5656;
}

.delete:hover {
    color: #ee2c2c;
}

.delete:active {
    color: rgba(172, 19, 19, 0.815);
}
